.container {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}

.example-container {
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
}

.example {
    width: 50%;
}

.example-text {
    padding-right: 5em;
}