.container {
    display: flex;
    flex-wrap: wrap;
    padding: 3em;
}

.example-container {
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
}

@media screen and (min-width: 800px) {
    .example {
        width: 50%;
    }
}

.example-text {
    padding-right: 5em;
}