.container {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: #EFEFEF;
}

.contactContainer {
    height: 100%;

    display: flex;
    justify-content: space-around;
    gap: 1em;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.text-container h1 {
    font-size: xxx-large;
}

.text-container h2 {
    font-size: xx-large;
}

.text-container button {
    border: none;
    outline: none;
    background-color: #1c1534;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0 black;
}

.buttonLink {
    font-size: x-large;
    color: #EFEFEF;
}