.container {
    position: relative;
    text-align: center;
    height: 100vh;
}

.videoContainer {
    width: 100%;
    height: 75%;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.textContainer {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #1c1534;
    color: lightgrey;
    padding: 2em;
}

.subtitle {
    font-size: x-large;
}