.container {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #1c1534;
    color: #EFEFEF;

    font-family: "BC Alphapipe", sans-serif;
    font-size: x-large;
}

.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainer form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1em;
}