.container {
    display: flex;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    padding: 0.5em;
}

.activeContainer {
    display: flex;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    padding: 0.5em;

    background-color: whitesmoke;
}

.navigation-link {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
}

.link {
    color: #1c1534;
    text-decoration: none;
    font-weight: bold;
}

.title {
    color: #BE3455;
    text-decoration: none;
    font-weight: bold;
}