.container {
    position: fixed;
    top: 0;

    z-index: 1;

    width: 100%;
    height: 7.5%;

    display: flex;
}

.container.active {
    background-color: #1c1534;
}

.navigation-link {
    display: flex;
    align-items: center;

    width: 100%;
}

.link {
    width: 20%;

    text-align: center;
    text-decoration: none;

    color: #EFEFEF;
    font-weight: bold;
}

.link h1 {
    font-family: "BC Alphapipe", sans-serif;
    font-weight: 600;
    font-size: xx-large;
}