.container {
    height: 100vh;
    scroll-snap-align: center;
    scroll-snap-stop: always;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 4em 1em 1em 1em;
}

.alchemy {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: rgba(190, 52, 85, 0.5);

    padding: 1em;
}

.textContainer {
    height: 75%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.textBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    overflow: hidden;
}

@media (min-width: 900px) {
    .textBox {
        width: 50%;
    }
}

.textBox h1 {
    font-size: xxx-large;
    font-weight: bold;
    color: #BE3455;
}

.textBox h2 {
    font-size: xx-large;
    font-weight: bold;
}

.textBox p {
    font-size: large;
    overflow: hidden;
}

.textBox button {
    font-size: large;
    background-color: #BE3455;
    border: none;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    padding: 0.5em;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1em;
}

.cardEditor {
    position: relative;

    border: 5px #f7a711 solid;
    border-radius: 5%;
    box-shadow: 0 0 10px #f7a711;

    width: 25%;
    height: 50%;

    padding: 2em;

    background-color: whitesmoke;
}

.littleCircleEditor {
    border: 3px #f7a711 solid;
    border-radius: 50%;

    width: 3em;
    height: 3em;

    background-color: whitesmoke;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.iconEditor {
    color: #f7a711;
}

.cardVideo {
    display: flex;
    flex-direction: column;
    gap: 1em;

    position: relative;

    border: 5px #BE3455 solid;
    border-radius: 5%;
    box-shadow: 0 0 10px #BE3455;

    width: 25%;
    height: 50%;

    padding: 1em;

    background-color: whitesmoke;

    overflow-y: hidden;
}

.cardVideo h2 {
    font-size: x-large;
    font-weight: bold;
}

.littleCircleVideo {
    border: 3px #BE3455 solid;
    border-radius: 50%;

    width: 3em;
    height: 3em;

    background-color: whitesmoke;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.iconVideo {
    color: #BE3455;
}

.cardWeb {
    position: relative;

    border: 5px #3591a1 solid;
    border-radius: 5%;
    box-shadow: 0 0 10px #3591a1;

    width: 25%;
    height: 50%;

    padding: 2em;

    background-color: whitesmoke;
}

.littleCircleWeb {
    border: 3px #3591a1 solid;
    border-radius: 50%;

    width: 3em;
    height: 3em;

    background-color: whitesmoke;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.iconWeb {
    color: #3591a1;
}