.container {
    height: 100vh;
    scroll-snap-align: center;
    scroll-snap-stop: always;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;

    background-color: whitesmoke;
    color: #1c1534;
    font-size: xxx-large;
}

.profileContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
}

.profile {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 10%;
}

.profile h2 {
    font-size: xx-large;
}

.profile svg {
    position: absolute;
    top: 2.5%;
    left: -15%;
}

.profile.video svg path {
    fill: #BE3455;
}

.profile.web svg path {
    fill: #3591a1;
}

.profile.edition svg path {
    fill: #f7a711;
}