.container {
    display: flex;
    align-items: center;
    padding: 3em;
}

.container-left {
    flex-direction: row-reverse;
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
    }
}

.illustration {
    width: 50%;
}

.text-container {
    width: 50%;
}

.text {
}