.container {
    display: flex;
    align-items: center;
    padding: 3em;
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
    }
}

.illustration {
    width: 50%;
}

.text-container {
    padding: 3em;
    width: 50%;
}

.text {
    padding-right: 5em;
}